<section>
  <div class="actions">
    <h2>Catálogo de livros</h2>
    <a class="button" href="/livros/novo">Cadastrar livro</a>
  </div>

  {{#if books.length}}
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Título</th>
          <th>Autor</th>
          <th>Gênero</th>
          <th>Preço</th>
          <th>Estoque</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        {{#each books}}
          <tr>
            <td>{{this.id}}</td>
            <td>{{this.title}}</td>
            <td>{{this.author}}</td>
            <td>{{this.genre}}</td>
            <td>{{currency this.price}}</td>
            <td>{{this.stock}}</td>
            <td>
              <a href="/livros/{{this.id}}">Ver</a>
              <a href="/livros/{{this.id}}/editar">Editar</a>
              <form class="inline" action="/livros/{{this.id}}?_method=DELETE" method="POST">
                <button type="submit">Excluir</button>
              </form>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <p>Não há livros cadastrados.</p>
  {{/if}}
</section>
